.play{
    background-color: aquamarine;
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

.play .button{
    border-style:solid;
    box-sizing: border-box;
    border-width: 40px 0px 40px 80px;
    border-color: transparent transparent transparent #202020;
    width: 80px;
    height: 80px;
    position: relative;
    top: 25%;
    left: 30%;
}

.dot {
    height: 3em;
    width: 3em;
    background-color: aquamarine;
    border-radius: 50%;
    display: inline-block;
}

.modal{
    position: fixed;
    background-color: #fefefe;
    left: 20%;
    padding: 0;
    border: 1px solid #888;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: slideFromTop;
    animation-duration: 0.6s
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }

  .modal-body {
    padding: 2px 16px;
    display: flex;
    flex-direction: column;
  }

.input-box{
    display: flex;
    justify-content: space-between;
}

.input-box input{
    width:fit-content;
}

@keyframes slideFromTop {
    from {top: -400px; opacity: 0}
    to {top: 0; opacity: 1}
  }